extends layout

block content
    //- #{h.dump(user)}
    form(action="/api/stripe", method="post")
        article
            label Amount: $20.00
        script(
            src="//checkout.stripe.com/v2/checkout.js",
            class="stripe-button",
            data-key=keyPublishable,
            data-locale="auto",
            data-description="Test Vendor Signup",
            data-amount="2000")