mixin dealCard(deal = {})
    .store
        .store__hero
            h2.title
                a(href=`/deal/${deal.slug}`) #{deal.description}
        .store__details            
            h3 $#{deal.price}
            h4= deal.day.name
            h4= deal.store.name